on:
  workflow_dispatch:

permissions:
  contents: read
  issues: read
  pull-requests: read
  id-token: write

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: gregclermont/actions-permissions/monitor@main
        with:
          debug: true

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      # test github-script CA
      - name: github-script
        uses: actions/github-script@v7
        with:
          script: |
            const { data } = await github.rest.issues.listLabelsOnIssue({
              issue_number: 2,
              owner: context.repo.owner,
              repo: context.repo.repo,
            });

      # test gh CA
      - name: gh api
        env:
            GH_TOKEN: ${{ github.token }}
        run: |
          gh api \
            -H "Accept: application/vnd.github+json" \
            /repos/${{ github.event.repository.owner.login }}/${{ github.event.repository.name }}/issues/1/labels

      # test curl CA
      - name: curl
        run: |
          curl \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ github.token }}"\
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://Api.github.com/repos/${{ github.event.repository.owner.login }}/${{ github.event.repository.name }}/labels

      # test OIDC token request
      - name: oidc
        run: |
          curl -s \
            -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
            "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=api://AzureADTokenExchange"
